@import "deprecated/globalStyles/scss/variables.scss";

.drawer-button {
  border-radius: 25px !important;
  border-width: 2px !important;
  // background-color: #fffcf2 !important;
  font-weight: 700 !important;
}
