@import "src/globalStyles/scss/variables.scss";
@import "~@fontsource/red-hat-display/700.css"; // Weight 400.

.side-nav {
  $item-height: 3.7rem;
  max-width: 100vw;
  width: 25rem;
  font-family: "Red Hat Display" !important;

  &__menu-item {
    a {
      display: flex;
      &::before {
        content: "";
        display: block;
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 8px;
      }
    }
  }

  &__menu-item[data-mobile-cat-icon="FidoTabby Alert Exclusives"] {
    a {
      &::before {
        background-image: url("https://cdn.builder.io/api/v1/image/assets%2F77351f890251406eb2d564008d339e95%2F3955384e25934f47a69226217cae640f?width=2000");
      }
    }
  }

  &__menu-item[data-mobile-cat-icon="Gifting"] {
    a {
      &::before {
        background-image: url("https://cdn.builder.io/api/v1/image/assets%2F77351f890251406eb2d564008d339e95%2F42d2ac03595749079fc505aaf100fecb?width=2000");
      }
    }
  }

  &__menu-item[data-mobile-cat-icon="Toys & Treats"] {
    a {
      &::before {
        background-image: url("https://cdn.builder.io/api/v1/image/assets%2F77351f890251406eb2d564008d339e95%2Fa68dd08ce2d04834874cbc91a8d32f9e");
      }
    }
  }

  &__menu-item[data-mobile-cat-icon="Collars & Apparel"] {
    a {
      &::before {
        background-image: url("https://cdn.builder.io/api/v1/image/assets%2F77351f890251406eb2d564008d339e95%2Fadef6d78f02d4d7abf97bd60e5092cab");
      }
    }
  }

  &__menu-item[data-mobile-cat-icon="Beds & Accessories"] {
    a {
      &::before {
        background-image: url("https://cdn.builder.io/api/v1/image/assets%2F77351f890251406eb2d564008d339e95%2Ffb47bbbb35854d3795712b35877be340?width=2000");
      }
    }
  }

  &__menu-item[data-mobile-cat-icon="Supplements & Hygiene"] {
    a {
      &::before {
        background-image: url("https://cdn.builder.io/api/v1/image/assets%2F77351f890251406eb2d564008d339e95%2F3515077190884f91a889c1fe95366da7");
      }
    }
  }
  &__menu-item[data-mobile-cat-icon="Shop by Seller"] {
    a {
      &::before {
        background-image: url("https://cdn.builder.io/api/v1/image/assets%2F77351f890251406eb2d564008d339e95%2F876b5ad58b274b598a5534a216911365?width=2000");
      }
    }
  }
  &__menu-item[data-mobile-cat-icon="Personalization"] {
    a {
      &::before {
        background-image: url("https://cdn.builder.io/api/v1/image/assets%2F77351f890251406eb2d564008d339e95%2F69a3d87d6983461391c49ddbf4966f86");
      }
    }
  }

  &__menu-item {
    border-bottom: 1px solid $gray-light;
    display: grid;
    height: $item-height;

    a {
      text-transform: capitalize;
      padding: $spacer;
      font-weight: 700;
      color: #001a5d !important;
    }

    &-link,
    &-back span {
      align-items: center;
      color: $base-font-color;
      display: flex;
      font-weight: 600;
      padding: $spacer;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.3s;

      svg * {
        fill: currentColor;
      }
    }

    &-logo {
      align-self: center;
      padding: 0.75rem $spacer;

      svg {
        width: 5rem;
      }
    }

    &-link,
    &-more,
    &-back,
    &-close {
      transition: 0.3s;

      &:hover {
        color: $magenta-dye;
      }

      svg * {
        fill: currentColor;
      }
    }

    &-close,
    &-more,
    &-back {
      &:hover {
        cursor: pointer;
      }
    }

    &-more {
      align-self: center;
      padding: 1.25rem 1.75rem;
    }

    &-back {
      svg {
        margin-right: 1rem;
      }
    }

    &-close {
      align-items: center;
      display: flex;
      height: $item-height;
      justify-content: center;

      span {
        background-color: currentColor;
        border-radius: 1px;
        height: 3px;
        width: 24px;
      }

      &:hover {
        color: $magenta-dye;
      }
    }

    &--has-subnavigation,
    &--parent {
      grid-template-columns: 1fr $item-height;
    }
    &--title {
      grid-template-columns: 1fr $item-height;
      height: $item-height;
    }

    &--parent {
      color: $gray;

      a {
        color: inherit;
      }
    }
  }
}

.mobileFiddoTobbyAlert {
  cursor: pointer;
  padding: 1rem;
}

.mobilePawItForward {
  padding-left: 5px;
  padding-top: 1rem;
  padding-bottom: 10px;
  svg {
    margin-right: 5px;
  }
}
