@import "~@fontsource/red-hat-display/700.css"; // Weight 400.

.menuOption {
  font-family: "Red Hat Display" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  text-transform: capitalize !important;
  width: 300px !important;
  text-align: left;
  justify-content: flex-start !important;
  letter-spacing: 0.03em;
  border-radius: 0;
}

.menuOption.navOption {
  height: 100% !important;
  width: auto !important;
  line-height: 15px !important;
  color: #001a5d !important;
  padding: 10px 20px !important;
  font-size: 12px !important;
  border-bottom: none;
  font-weight: 700 !important;
}

.menu {
  display: flex;
  z-index: 1;
}

div.menu div .menuOption.navOption {
  border-right: 0.25px solid #dadada;
  border-radius: 0px;
}

div.menu div:last-child .menuOption.navOption {
  border-right: none;
}

.mobileNav {
  display: none;
}

.headerOption {
  display: flex;
  align-items: center;
  width: 120px;
  justify-content: space-evenly;

  .headerOptionLabel {
    height: 17px;

    font-family: "Red Hat Display" !important;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: #828282;
  }

  .pawItForwardLabel {
    display: flex;
    align-items: center;
    margin-top: 4px;
    height: 17px;

    font-family: "Red Hat Display" !important;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: #828282;
    &::before {
      content: "";
      display: block;
      width: 25px;
      height: 25px;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 5px;
      background-image: url("https://cdn.builder.io/api/v1/image/assets%2F77351f890251406eb2d564008d339e95%2F881914f3e6cc4457a6ec26354f2902bd");
    }
  }
}

.desktopFiddoTobbyAlert {
  cursor: pointer;
}

@media (max-width: 767px) {
  .desktopNav {
    display: none;
  }
  .mobileNav {
    display: block;
  }
  .headerOption {
    width: 20px;
    .headerOptionLabel {
      display: none;
    }
  }
  .headerOption.wide {
    width: 120px;
  }

  .desktopFiddoTobbyAlert {
    display: none;
  }
}

.menuOption:hover {
  background-color: rgba(0, 53, 99, 0.2) !important;
}

//
//.menuOption .MuiTouchRipple-root {
//  display: none !important;
//}

[data-cat-icon].menuOption.navOption::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
}
[data-cat-icon="FidoTabby-Alert-Exclusives"].menuOption.navOption::before {
  background-image: url("https://cdn.builder.io/api/v1/image/assets%2F77351f890251406eb2d564008d339e95%2F3955384e25934f47a69226217cae640f?width=2000");
}
[data-cat-icon="Gifting"].menuOption.navOption::before {
  background-image: url("https://cdn.builder.io/api/v1/image/assets%2F77351f890251406eb2d564008d339e95%2F42d2ac03595749079fc505aaf100fecb?width=2000");
}
[data-cat-icon="Toys-&-Treats"].menuOption.navOption::before {
  background-image: url("https://cdn.builder.io/api/v1/image/assets%2F77351f890251406eb2d564008d339e95%2Fa68dd08ce2d04834874cbc91a8d32f9e");
}
[data-cat-icon="Collars-&-Apparel"].menuOption.navOption::before {
  background-image: url("https://cdn.builder.io/api/v1/image/assets%2F77351f890251406eb2d564008d339e95%2Fadef6d78f02d4d7abf97bd60e5092cab");
}
[data-cat-icon="Beds-&-Accessories"].menuOption.navOption::before {
  background-image: url("https://cdn.builder.io/api/v1/image/assets%2F77351f890251406eb2d564008d339e95%2Ffb47bbbb35854d3795712b35877be340?width=2000");
}
[data-cat-icon="Supplements-&-Hygiene"].menuOption.navOption::before {
  background-image: url("https://cdn.builder.io/api/v1/image/assets%2F77351f890251406eb2d564008d339e95%2F3515077190884f91a889c1fe95366da7");
}
[data-cat-icon="Shop-by-Seller"].menuOption.navOption::before {
  background-image: url("https://cdn.builder.io/api/v1/image/assets%2F77351f890251406eb2d564008d339e95%2F876b5ad58b274b598a5534a216911365?width=2000");
}
[data-cat-icon="Personalization"].menuOption.navOption::before {
  background-image: url("https://cdn.builder.io/api/v1/image/assets%2F77351f890251406eb2d564008d339e95%2F69a3d87d6983461391c49ddbf4966f86");
}
